body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page__row {
    margin: 5px 0;
}

.page label {
    font-size: 1.4em;
}